body {
    margin: 0;
    color: #60775b;
    background: #fcfbf7;
}

html {
    scroll-behavior: smooth;
}

section {
    height: 100vh;
}

#home #experience{
    position: relative;
}

.home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.3em;
    font-weight: 700;
    color: #31422d;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
}

a {
    color: #31422d;
    font-weight: 500;
}

a:hover {
    color: #31422d;
}

i {
    margin-right: 10px;
}

/*Responsiveness*/
@media (max-width: 827px) {
    #home {
        padding: 0;
    }
    .alignmid {
        width: 80%;
    }
}

@media (max-width: 375px) {
    .mb-5 {
        margin-bottom: 1rem !important;
    }

    .row {
        width: 100%;
    }
}
