@import url('https://fonts.googleapis.com/css?family=Heebo:400,700,900|Roboto:100,300,400,500,700&display=swap');

body{
	margin: 0;
}

.intro{
	position: absolute;
	top: 200px;
	left: 70px;
	color: #5D5D5D;
}

.home{
	height: 101vh;
	background-image: url(../images/background.jpg);
	background-size: 100% 100%;
}

.nav{
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 18px;
	position: fixed;
	right: 50px;
	top: 50px;
}

ul{
	display: inline;
}

li{
	list-style-type: none;
	display: inline;
	margin: 0 15px;
}

a{
	text-decoration: none;
	color: #5D5D5D;
}

.intro{
	font-family: 'Heebo';
}

.name{
	font-size: 70px;
	font-weight: 700;
}

.summary{
	font-size: 35px;
	font-family: 'Roboto';
	font-weight: 300;
}

.yellowFont{
	color: #EDC528;
}

.portfolio,.contact{
	height: 650px;
	font-family: 'Heebo';
}

.contactContainer{
	background-color: #EDC528;
	height: 650px;
	width: 500px;
}

h1{
	font-weight: 300;
	font-size: 40px;
	margin: 50px 0 25px 55px;
	color: #5D5D5D;
}

p{
	color: #5D5D5D;
	text-align: right;
	margin: 25px 55px 0 0;
	font-size: 20px;
}

.pLeft, .pMiddle, .pRight{
	height: 325px;
	width: 375px;
	background-color: #EDC528;
	box-shadow: 4px 4px 6px grey;
}

.dLeft, .dMiddle, .dRight{
	height: 125px;
	width: 375px;
	background-color: #FFFFFF;
	box-shadow: 4px 4px 6px grey;
}

.projectContainer{
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: center;
	column-gap: 25px;
}