@import url('https://fonts.googleapis.com/css?family=Heebo:400,700,900|Roboto:100,300,400,500,700&display=swap');

body,p,h1,h2{
	margin: 0;
}

html{
	scroll-behavior: smooth;
}

a{
	text-decoration: none;
	color: #5D5D5D;
}

.yellowFont{
	color: #EDC528;
}

/* Header*/

.nav{
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 18px;
	position: fixed;
	right: 50px;
	top: 50px;
	z-index: 1;
}

ul{
	display: inline;
}

li{
	list-style-type: none;
	display: inline;
	margin: 0 15px;
}

/* Home page */

.intro{
	position: absolute;
	top: 200px;
	left: 70px;
}

.home{
	background-image: url(../images/background.jpg);
	background-size: 100% 100%;
}

.contact,.home,.portfolio{
	height: 100vh;
	font-family: 'Heebo';
	color: #5D5D5D;
}

.portfolio, .contact{
	padding-top: 5%;
}

.name{
	font-size: 70px;
	font-weight: 700;
}

.summary{
	font-size: 35px;
	font-family: 'Roboto';
	font-weight: 300;
}
/* Portfolio page */

.portfolio h1{
	margin: 0 25px;
}
.projectContainer{
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-around;
	width: 1200px;
	margin: 50px auto;
}

.projectCard{
	position: relative;
	width: 375px;
	height: 400px;
	background-color: #F9F9F9;
	font-size: 20px;
	background-size: cover;
	transition: ease 0.3s;
	transition-property: width, height, box-shadow;
}

.projectCard:hover{
	width: 376px;
	height: 401px;
	box-shadow: 3px 3px 5px gray;
}

.projectTitle{
	position: absolute;
	width: 100%;
	height: 75px;;
	text-align: center;
	bottom: 0;
}

.portfolio p{
	text-align: right;
	margin: 25px 55px 0 0;
	font-size: 20px;
}

/* Contact page */

.contact{
	text-align: center;
}

.me img{
	height: 200px;
	width: 200px;
	margin: 50px 0 0 0;
	border-radius: 50%;
}

.contact h2{
	color: rgb(73, 73, 73);
	font-size: 60px;
	font-weight: 900;
	margin-top: 25px;
	margin-bottom: 0px;
}

.social i:hover{
	transition: .3s ease;
	opacity: 0.5;
}

.contact p a{
	font-weight: 700;
	color: #5D5D5D;
}

/* Footer */

.social i{
	margin: 50px 15px;
}